.about {
  margin: 70px 0 10px;
}
.abt {
  background: url(https://img.freepik.com/premium-photo/skeptical-coworkers-watching-business-presentation-project-laptop-screen-during-meeting_236854-33091.jpg?w=740);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  margin-top: 40px;
  font-weight: 600;
  text-align: center;
  height: fit-content;
  padding: 20px 10%;
}

.abt p {
  font-size: 20px;
}
.align-correspondent {
  padding: 0 40px;
}
.abt h4 {
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: capitalize;
}
.div1 {
  margin: 5px 0;
  padding: 20px 10%;
}

.div1 p {
  line-height: 1.5;
}
