.about {
  margin: 70px 0 10px;
}
.about-wrapper {
}
.abt-img-container {
  background-color: black;
  padding: 20px 0;
  color: white;
  text-align: center;
}
.about-desc {
  padding: 5px 4%;
}
.abt p {
  font-size: 20px;
}
.align-correspondent {
  padding: 0 40px;
}
.abt h4 {
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: capitalize;
}
.about-bottom {
  padding-inline: 5%;
}
.div1 {
  margin: 5px 0;

  max-width: 1440px;
  margin: 60px auto;
}

.div1 p {
  line-height: 29px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .about-bottom {
    padding-inline: 15px;
  }
}
