.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  grid-auto-rows: auto;
}

.card-wrapper {
  border: 1px solid rgb(224, 219, 219);
  border-radius: 5px;
}
.img-container {
  width: 100%;
  overflow: hidden;
}
.h2 {
  text-align: center;
  font-size: 33px;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  line-height: 27px;
}
.date-container {
  display: flex;
  justify-content: space-between;
}
.learn-more {
  color: blue;
}
.items-wrapper div {
  font-size: 15px;
  font-weight: 500;
}
.items-wrapper h4 {
  margin-top: 6px;
}
.items-wrapper h4:hover {
  color: rgb(222, 75, 75);
  text-decoration: underline;
}
.no-blogs {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
}
/* style rules for pagination */
.pagination {
  margin: 60px auto;
  width: 100%;
}
.pagination p {
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pageNumber-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}
.pageNumber-wrapper li a {
  padding: 3px 7px;
  box-shadow: 0 0 3px rgb(149, 141, 141);
}
.pageNumber-wrapper li a.active-page {
  background-color: rgb(192, 58, 58);
  color: white;
  padding: 3px 7px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  /* box-shadow: 0 0 4px rgb(162, 157, 157); */
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  color: white;
}
.btns.btns1 {
  color: red;
  border: 1px solid red;
}
.btns.btns2 {
  border: 1px solid green;
  color: green;
}
@media (max-width: 768px) {
  .pageNumber-wrapper {
    display: none;
  }

  .img-container {
    width: 100%;
  }
}
