@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.loader {
  position: relative;
  height: 100vh;
}
.loader img {
  width: 40px;
}
.img-loader-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search {
  padding: 8rem 0 10rem 0;
}
@media (max-width: 768px) {
  .search {
    padding: 8rem 0 10rem 0;
  }
}
.search input,
.search button {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  caret-color: black;
  color: black;
}
.search input::placeholder {
  color: black;
}
.search input {
  width: 70%;
  border: 2px solid black;
}
.search button {
  border: 0;
  transition: all 0.5s ease;
  background-color: rgb(174, 14, 14);
  color: white;
  border-radius: 0 4px 4px 0;
}
.search button:hover {
  background-color: rgb(219, 168, 168);
}
.error {
  font-size: 17px;
  font-weight: 500;
  color: red;
  text-align: center;
  margin-top: 10px;
}
