.correspondence {
  padding-top: 35px;
  padding-inline: 4%;
}
.correspondence .h2 {
  margin-left: 22px;
}
.slide-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  width: 100px;
}
.slide {
  display: flex;
}
.slide-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .correspondence .h2 {
    margin-left: 0px;
  }
  .slide-item {
    padding: 0 70px;
    margin: 10px auto;
  }
}
