.container {
  margin-top: 70px;
  padding: 40px 15%;
  background-color: rgb(119, 16, 16);
  text-align: center;
  color: rgb(233, 218, 218);
}
.banner-h1 {
  margin: 10px auto;
  text-transform: capitalize;
}
.container p {
  font-size: 18px;
  font-weight: 500;
}
