.footer-container {
  background: linear-gradient(130deg, rgb(213, 116, 213), rgb(154, 14, 14));
  padding: 13px 4% 30px 4%;
  margin-top: 30px;
  font-weight: 500;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}
.footer-flex p,
.form-container {
  margin-top: 5px;
}
.row1,
.row2,
.row3 {
  display: flex;
  gap: 70px;
}

.btn2,
.input {
  font-size: 16px;
  border-radius: 5px;
  padding: 4px;
  color: rgb(174, 174, 167);
  border: 2px solid rgb(148, 148, 138);
  background-color: transparent;
  white-space: nowrap;
}
.btn2 {
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.input::placeholder {
  color: rgb(148, 148, 138);
}
.copy {
  text-align: center;
}
hr {
  margin: 15px 0;
  border: 1px solid rgb(148, 148, 138);
}
@media (max-width: 768px) {
  .footer-flex {
    flex-direction: column;
    gap: 30px;
  }
  .row1,
  .row3 {
    gap: 46px;
  }
  .row2 {
    margin-left: -19px;
  }
  .col2 {
    margin-left: -14px;
  }
}
