.single-blog-wrapper {
  padding: 0px 5%;
}
.blog {
  margin: 30px auto;

  max-width: 1440px;
}
.h2 {
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 15px;
  background: linear-gradient(110deg, rgb(94, 3, 94), red);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.blog-item-wrap h4 {
  margin-bottom: 6px;
}
.single-blog {
  display: flex;
}

.blog-item {
  display: flex;
  gap: 30px;
}

.img-wrapper {
  flex-basis: 50%;
}
.image-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.blog-item-wrap {
  flex-basis: 47%;
}

@media (max-width: 1024px) {
  .single-blog-wrapper {
    padding-inline: 15px;
  }
  .blog-item {
    flex-wrap: wrap;
  }
  .img-wrapper,
  .blog-item-wrap {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .blog-item-wrap,
  .img-wrapper {
    flex-basis: 100%;
  }
  .single-item {
    flex-wrap: wrap;
  }
}
