.category-flex {
  background: linear-gradient(10deg, rgb(213, 116, 213), rgb(154, 14, 14));
  padding: 20px 3% 10px 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.category-wrapper {
  display: flex;
  gap: 40px;
}
.cat-div {
  height: 25px;
}
.cat-p {
  width: fit-content;
  height: 100%;
  color: white;
  padding: 0 2px 2px 2px;
  text-wrap: nowrap;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-left: 1px solid rgb(209, 202, 202);
}
.p {
  border-left: none;
}
.cat-p:hover {
  border-bottom: 4px solid white;
}
.active-category {
  border-bottom: 4px solid white;
}
@media (max-width: 768px) {
  .category-flex {
    display: none;
  }
}
