.blog-space {
  padding-inline: 5%;
}
.blogs {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1440px;
}
.loading {
  text-align: center;
  display: flex;
  align-items: center;
}
.blogs-left {
  flex-basis: 72%;
}
.blogs-right {
  flex-basis: 28%;
}
@media screen and (max-width: 1024px) {
  .blogs {
    flex-wrap: wrap;
  }
  .blogs-left,
  .blogs-right {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .blogs {
    flex-wrap: wrap;
  }
  .blogs-left {
    flex-basis: 100%;
  }
  .blogs-right {
    flex-basis: 100%;
    width: 100%;
  }
  .blog-space {
    padding-inline: 15px;
  }
}
