.contact-container {
  padding: 80px 5%;
}

.contact-wrapper {
  max-width: 1440px;
  margin: auto;
}
.contact-wrapper h1 {
  text-align: center;
  text-transform: capitalize;
}
.contact-img-container {
  margin: 20px 0;
}
textarea {
  padding: 4px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;

  border: 1px solid rgb(187, 184, 184);
  font-size: 16px;
}
textarea:focus {
  outline: none;
}
.contact {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left {
  flex-basis: 50%;
  margin-bottom: 4rem;
}
.contact-left p {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}
.contact-right {
  flex-basis: 50%;
}
.contact-right .form2 {
  background-color: white;
}
.location-map {
  width: 100%;
  height: fit-content;

  margin: 40px 0px;
}
.location-map iframe {
  width: 100%;
  height: 450px;
}
@media (max-width: 768px) {
  .contact-container {
    padding: 80px 15px;
  }
  .contact-wrapper h1 {
    font-size: 24px;
  }

  .contact {
    flex-wrap: wrap;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .form.form2 {
    padding: 30px 0;
  }
  .item textarea,
  .item input {
    width: 100%;
  }
  .contact-left {
    margin-bottom: 0;
  }
}
