.related-blog {
  margin: 100px 0 40px;
  padding: 40px 0px;
}
.related-blog-wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .related-blog {
    padding: 20px 0px;
  }
}
